{
  "parser": "babel-eslint",
  "extends": [
    "@jetbrains",
    "@jetbrains/eslint-config/es6",
    "@jetbrains/eslint-config/node",
  ],
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "no-extra-semi": "warn",
    "quotes": ["warn", "single"],
    "space-before-blocks": ["warn", { "functions": "always" }]
  },
}